@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
}
.imagenInicio{
    width: 80%;
}

.jumbotron {
    background-color: #3fa59d;
    color: white;
    border-radius: 0%;
}

.btn-primary {
    color: #fff;
    background-color: #008080;
    border-color: #008080;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3fa59d;
    border-color: #3fa59d;
}

.kmargin-botton{
    margin-bottom: 2em;
}